body {
        background-color: rgb(245, 164, 164);
    }
table, th, td {
  border: 2px solid rgb(116, 21, 124);
 width: 50%;
 height: 100%;
 text-align: center;

}
h1 {
    color: rgb(255, 0, 0);
}


